body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.bg-light {
    background-color: #dbb08d !important;
}

.row-header{
    margin:0px auto;
    padding:0px;
}
.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}
.footer{
    background-color: #dbb08d;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #6E3F19;
    color:floralwhite;
}
address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.pano-orio {
    margin-top: 19px;
}

/*------------------------------------------------------------*/


.table .thead-dark th{
    color:floralwhite;
    background-color:#6E3F19;
}

#about-table tr:hover {background-color:#dbb08db0!important}


/*------------------------------------------------------------*/

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel {
    background:#914d15b0;
}
.carousel-item {
    height: 300px;
}
.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#carouselButtons {
    right:0px;
    position: absolute;
    bottom: 0px;
}

/*-------------- TABLE ROW COLOURS --------------------*/

.color-1 {
    background-color: lemonchiffon;
}

.color-2 {
    background-color: rgba(119, 18, 18, 0.644);
}

.color-3 {
    background-color:lightyellow;
}

.color-4 {
    background-color: rgb(199, 70, 70);
}

.color-5 {
    background-color: rgb(204, 72, 32);
}

.color-6 {
    background-color: rgb(135, 240, 65);
}

.color-7 {
    background-color: rgb(244, 247, 94);
}

#table-menu td {
    border-top-color: black;
    border-bottom-color: black;
}

#table-menu {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#table-menu {
    border: 6px solid rgba(235, 160, 160, 0.87);
}

tr td:first-child, tr th:first-child {
    border-right: 1px solid;
}

